<phpunit colors="true" bootstrap="./boot.php">
    <testsuite name="Descriptive Test Suite Name">
        <directory>./</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">../application/</directory>
            <exclude>
                <directory suffix=".phtml">../application/</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log highlowerbound="80" lowupperbound="50" highlight="true" yui="true" charset="UTF-8" target="./log/report" type="coverage-html">
        <log target="./log/testdox.html" type="testdox-html">
    </log></log></logging>
</phpunit>

